body{background-color: brown }
h1{
    border: 5px dashed rgb(5, 6, 16);
    font-size:50px;
color:rgb(255, 196, 196);
text-align: center;
font-family: verdana, sans-serif;
}
p{
    color:rgb(28, 123, 206);
    font-size:60px;
}

